 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p>A lifetime learner. Also an <strong>iOS Developer</strong> with a demonstrated history of working in the computer software industry. <strong>Alumni of Apple Developer Academy @ Universitas Ciputra</strong>. Strong engineering professional with a <strong>Bachelor's degree of Information System</strong> from <strong>University of Airlangga</strong>. </p>
                </div>
                <div class="col-lg-6 col-lg-offset-3">
                    <p>Don't hesitate to contact me if you have an inquiry about iOS App project :D</p>
                </div>
            </div>
        </div>
    </section>
